<%- include('includes/head', {title:"safeVan"}) %>
<body>
    <%- include('includes/header') %>
    <main class="perfil-fundo w-100 vh-100 position-fixed"></main>
    <div class="container text-white p-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-dark h-100">
                    <div class="card-body">
                        <div class="profile-img">
                            <img src="/images/avatar-default.png" alt="" height="200px" width="200px" style="grid-row: auto;"/>
                            <h2 class="font-weight-bold text-center"><%= admin.name %></h2>
                        </div>
                        <a href="" class="d-block">Editar informações</a>
                        <a href="/admin/school" class="d-block">Cadastrar escola</a>
                        <a href="/search/driver" class="d-block">Procurar motorista</a>
                        <a href="/search/parent" class="d-block">Procurar responsáveis</a>
                        <a href="/logout" class="d-block">Sair</a>
                    </div>                    
                </div>
            </div>
            <div class="col-md-9">
                <div class="card bg-dark h-100">
                    <div class="card-body">
                        
                        <div class="row">
                            <!-- <div class="col-md-6">
                                <h3>E-mail</h3>
                                <p><%= admin.email %></p>
                                <h3>Telefone</h3>
                                <p></p>
                                <h3>Data de nascimento</h3>
                                <p></p>
                                <h3>CPF</h3>
                                <p></p>
                            </div>
                            <div class="col-md-6">
                                <h3>Endereço Principal</h3>
                                <p></p>
                                <h3>Cidade</h3>
                                <p></p>
                                <h3>Estado</h3>
                                <p></p>
                            </div>
                        </div> -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="usuarios-tab" data-toggle="tab" href="#usuarios" role="tab" aria-controls="usuarios" aria-selected="true">Usuários</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="escolas-tab" data-toggle="tab" href="#escolas"role="tab" aria-controls="Escolas" aria-selected="false">Escolas</a>
                            </li>
                        </ul>
                        </div>
                        <div class="row">
                            <div class="tab-content col-12" id="myTabContent">
                                <div class="tab-pane fade show active" id="usuarios" role="tabpanel" aria-labelledby="usuarios-tab">
                                    <div class="container p-2">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="col-4">Nome</th>
                                                    <th class="col-2">Papel</th>
                                                    <th class="col-6">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tbody">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="escolas" role="tabpanel" aria-labelledby="escolas-tab">
                                    <div class="container p-2">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="col-4">Nome</th>
                                                    <th class="col-6">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tbody">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="extras" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="container">
                                        hmm
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    
    <%- include('includes/footer') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <%- include("../public/javascripts/admin.js") %> 

</body>
</html>