<%- include('includes/head', {title:"safeVan"}) %>
<body>
    <%- include('includes/header') %>
    <div class="perfil-fundo w-100 h-100 position-fixed"></div>
    <div class="container p-5 text-white">
        <% if (usuario.roles_id == 3) { %>                
            <div class="row">
                <div class="col-md-10">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h2 class="font-weight-bold text-center"><%= usuario.name %></h2>
                            <ul class="list-group">
                                <h3>Descrição</h3>
                                <p><%= driver.sobre %> </p>
                                <h3>Idade</h3>
                                <p><%= (moment().diff(usuario.birthdate, 'years')) %> anos</p>
                                <h3>Marca e Modelo</h3>
                                <p><%= driver.marca %> <%= driver.modelo %>  </p>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="profile-img">
                        <% if (usuario.picture != null) {
                            var caminhoImagem = "/avatares/" + usuario.picture;
                        }else{
                            var caminhoImagem = "/images/avatar-default.png ";
                        } %>
                        <img src="<%=caminhoImagem%>" alt="" width="100%" style="grid-row: auto; max-height: 200px;" />
                        <% if (user.roles_id == 2) { %> 
                        <form action="/user/addDriver" method="post">
                            <input type="hidden" name="idDriver" value="<%= driver.id %>">
                            <button type="submit" class="btn btn-warning">Contratar Motorista</button>
                        </form>
                        <% } %> 
                    </div>
                </div>
            </div>
            <% if (driver.Parents.length > 0) { %> 
                <div class="row my-5">
                    <div class="col-md-10">
                        <div class="card bg-dark h-100">
                            <div class="card-body">
                                <h2 class="font-weight-bold">Mães, Pais e Responsáveis</h2>
                                <div class="row">
                                    
                                    <% driver.Parents.forEach(parent => { %>
                                        <div class="card bg-dark col-md-4 border-0">
                                            <div class="card-body">
                                                <% if (parent.User.picture != null) {
                                                    var caminhoImagem = "/avatares/" + parent.User.picture;
                                                }else{
                                                    var caminhoImagem = "/images/avatar-default.png ";
                                                } %>
                                                <a href="/user/<%= parent.User.id %>"><img src="<%=caminhoImagem%>" alt="" width="100%" style="grid-row: auto; max-height: 200px;" /></a>
                                                <a href="/user/<%= parent.User.id %>"><h3><%= parent.User.name %></h3></a>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% if (driver.Schools.length > 0) {%>
                <div class="row my-5">
                    <div class="col-md-10">
                        <div class="card bg-dark h-100">
                            <div class="card-body">
                                <h2 class="font-weight-bold">Escolas</h2>
                                <div class="row">
                                    
                                        <% driver.Schools.forEach(school => { %>
                                            <div class="card bg-dark col-md-3 border-0">
                                            <div class="card-body">
                                                <a href=""><img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/></a>
                                                <a href="/user/"><h4> <%= school.name %>  </h4></a>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %> 
        <% } %>
        <% if(usuario.roles_id == 2) { %>
            <div class="row">
                <div class="col-md-10">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h2 class="font-weight-bold text-center"><%= usuario.name %></h2>
                            <ul class="list-group">
                                <h3>Descrição</h3>
                                <p>Eu sou eu mesmo enquanto você é você mesmo e, por isso, nós somos diferentes.</p>
                                <h3>Idade</h3>
                                <p><%= (moment().diff(usuario.birthdate, 'years')) %> anos</p>
                                <h3>Possui crianças</h3>
                                <% if (parent.Kids.length > 0) { %>
                                    <p>Sim</p>
                                <%} else { %>
                                    <p>Não</p>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="profile-img">
                        <% if (usuario.picture != null) {
                            var caminhoImagem = "/avatares/" + usuario.picture;
                        }else{
                            var caminhoImagem = "/images/avatar-default.png ";
                        } %>
                        <img src="<%= caminhoImagem %>" alt="" width="100%" style="grid-row: auto; max-height: 200px;" />
                    </div>
                </div>
            </div>
            <% if(parent.Kids.length > 0) { %>
                <div class="row my-5">
                    <div class="col-md-10">
                        <div class="card bg-dark h-100">
                            <div class="card-body">
                                <h2 class="font-weight-bold">Escolas</h2>
                                <div class="row ">
                                    
                                    <% parent.Kids.forEach(kid => { %>
                                        <div class="card bg-dark col-md-4 border-0">
                                        <div class="card-body">
                                            <img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/>
                                            <h3><%= kid.School.name %></h3>
                                        </div>                                
                                    </div>
                                <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %> 
                <% if(parent.Drivers.length > 0) { %> 
                <div class="row my-5">
                    <div class="col-md-10">
                        <div class="card bg-dark h-100">
                            <div class="card-body">
                                <h2 class="font-weight-bold">Motoristas</h2>
                                <div class="row">
                                    
                                    <% parent.Drivers.forEach(motorista => { %>
                                        <div class="card bg-dark col-md-3 border-0">
                                            <div class="card-body">
                                                <% if (motorista.User.picture != null) {
                                                    var caminhoImagem = "/avatares/" + motorista.User.picture;
                                                    }else{
                                                        var caminhoImagem = "/images/avatar-default.png ";
                                                    } %>
                                                <a href="/user/<%= motorista.User.id %>"><img src="<%=caminhoImagem%>" alt="" width="100%" style="grid-row: auto; max-height: 200px;" /></a>  
                                                <a href="/user/<%= motorista.User.id %>"><h3><%= motorista.User.name %></h3></a>
                                                <p>-"João tá sempre na hora"</p>
                                            </div>
                                        </div>
                                    <% })  %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %> 
        <% } %>
    </div>
    <%- include('includes/footer') %>
</body>
</html>