<%- include('includes/head', {title:"safeVan"}) %>
<body>
    <%- include('includes/header') %>
    <div class="perfil-fundo w-100 h-100 position-fixed"></div>
    <div class="container p-5 text-white">
        <% if (usuario.roles_id == 3) { %>                
            <div class="row">
                <div class="col-md-10">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h2 class="font-weight-bold text-center"><%= usuario.name %></h2>
                            <ul class="list-group">
                                <h3>Descrição</h3>
                                <p>Eu entrego crianças nas escolas da região em que trabalho</p>
                                <h3>Tempo no ramo</h3>
                                <p>Eu dirijo vans escolares a 9 anos</p>
                                <h3>Possui ajudantes</h3>
                                <p>Eu trabalho sozinho</p>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="profile-img">
                        <img src="/images/avatar-default.png" alt="" height="200px" width="200px" style="grid-row: auto;"/>
                        <div class="text-dark ml-5 bg-secondary d-inline-block">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <form action="/addDriver" method="post">
                            <input type="hidden" name="idDriver" value="<%= driver.id %>">
                            <button type="submit" class="btn btn-warning">Adicionar Motorista</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-5">
                    <div class="card bg-dark h-100">
                        <div class="card-body">
                            <h2 class="text-center font-weight-bold">Informações da van</h2>
                            <h3>Marca e Modelo</h3>
                            <p><%= driver.marca %> <%= driver.modelo %>  </p>
                            <h3>Data da última vistoria</h3>
                            <p>20/04/2020</p>
                            <h3>Números de alunos na van</h3>
                            <p>10/15</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card bg-dark h-100">
                        <div class="card-body">
                            <h2 class="text-center font-weight-bold">Acessibilidade</h2>
                            <h3>Fala quais idiomas</h3>
                            <p>Portugues e Ingles</p>
                            <h3>Possui assento de elevação</h3>
                            <p>Sim</p>
                            <h3>Espaço para cadeira de rodas</h3>
                            <p>Sim</p>
                            <h3>Modificações na van</h3>
                            <p>Rampa adaptada</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-10">
                    <div class="card bg-dark h-100">
                        <div class="card-body">
                            <h2 class="font-weight-bold">Mães, Pais e Responsáveis</h2>
                            <div class="row">
                                <% driver.Parents.forEach(parent => { %>
                                    <div class="card bg-dark col-md-4 border-0">
                                        <div class="card-body">
                                            <a href="/user/<%= parent.User.id %>"><img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/></a>
                                            <a href="/user/<%= parent.User.id %>"><h3><%= parent.User.name %></h3></a>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-10">
                    <div class="card bg-dark h-100">
                        <div class="card-body">
                            <h2 class="font-weight-bold">Escolas</h2>
                            <div class="row">
                                
                                    <div class="card bg-dark col-md-3 border-0">
                                        <div class="card-body">
                                            <a href=""><img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/></a>
                                            <a href="/user/"><h4>Escola Novos Horizontes</h4></a>
                                        </div>
                                    </div>

                                    <div class="card bg-dark col-md-3 border-0">
                                        <div class="card-body">
                                            <a href=""><img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/></a>
                                            <a href="/user/"><h4>Escola Novos Rumos</h4></a>
                                        </div>
                                    </div>
                                    <div class="card bg-dark col-md-3 border-0">
                                        <div class="card-body">
                                            <a href=""><img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/></a>
                                            <a href="/user/"><h4>Escola Futuro Brilhante</h4></a>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h2 class="text-center font-weight-bold">Comentários</h2>
                            <div class="row justify-content-around">                                
                                <div class="card bg-dark col-md-3 border-0">
                                    <div class="card-body">
                                        <img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/>
                                        <h3>Jorge </h3>
                                        <p>-"Jõao ta sempre na hora"</p>
                                    </div>                                
                                </div>
                                <div class="card bg-dark col-md-3 border-0">
                                    <div class="card-body">
                                        <img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/>
                                        <h3>Maria </h3>
                                        <p>-"Sempre atencioso com meu filho, um amor de pessoa"</p>
                                    </div>                                
                                </div>
                                <div class="card bg-dark col-md-3 border-0">
                                    <div class="card-body">
                                        <img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/>
                                        <h3>Romario </h3>
                                        <p>-"Cara incrivel, minha filha adora ele"</p>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <% if(usuario.roles_id == 2) { %>
            <div class="row">
                <div class="col-md-10">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h2 class="font-weight-bold text-center"><%= usuario.name %></h2>
                            <ul class="list-group">
                                <h3>Descrição</h3>
                                <p>Eu sou eu mesmo enquanto você é você mesmo e, por isso, nós somos diferentes.</p>
                                <h3>Idade</h3>
                                <p><%= usuario.birthdate%> anos.</p>
                                <h3>Possui crianças</h3>
                                <p>if(parente.hasChildren())</p>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="profile-img">
                        <img src="/images/avatar-default.png" alt="" height="200px" width="200px" style="grid-row: auto;"/>
                        <div class="text-dark ml-5 bg-secondary">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-10">
                    <div class="card bg-dark h-100">
                        <div class="card-body">
                            <h2 class="font-weight-bold">Escolas</h2>
                            <div class="row ">                                
                                <div class="card bg-dark col-md-3 border-0">
                                    <div class="card-body">
                                        <img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/>
                                        <h3>Escola Novos Horizontes</h3>
                                    </div>                                
                                </div>
                                <div class="card bg-dark col-md-3 border-0">
                                    <div class="card-body">
                                        <img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/>
                                        <h3>Escola Novos Rumos</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-10">
                    <div class="card bg-dark h-100">
                        <div class="card-body">
                            <h2 class="font-weight-bold">Motoristas</h2>
                            <div class="row">
                                <% parent.Drivers.forEach(motorista => { %>
                                    <div class="card bg-dark col-md-3 border-0">
                                        <div class="card-body">
                                            <a href="/user/<%= motorista.User.id %>"><img src="/images/perfil-brown.png" alt="" height="150px" width="150px" style="grid-row: auto;"/></a>
                                            <a href="/user/<%= motorista.User.id %>"><h3><%= motorista.User.name %></h3></a>
                                            <p>-"João tá sempre na hora"</p>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <%- include('includes/footer') %>
</body>
</html>