<%- include('includes/head', {title:"safeVan"}) %>

<body>
    <%- include('includes/header') %>
    <div class="perfl-fundo w-100 h-100 position-fixed"></div>
        <% if (type == "school") { %>
            <div class="container card-body bg-secondary text-white mt-3 mb-3 text-center d-flex flex-column align-items-md-center">
            <h2>Escolas</h2>
            <% if (schools.length > 0) { %> 
                <% schools.forEach(school => { %>
                    <div class="row justify-content-md-center bg-dark w-75">
                        <div class="col-md-3 border-bottom">
                            <img src="/images/avatar-default.png" alt="" height="100px" width="100px" class="rounded">
                        </div>
                        <div class="col-md-3 border-bottom">
                            <br>
                            <p><%=school.name%></p>
                        </div>
                        <% if (user.roles_id == 3) { %> 
                            <div class="col-md-3 border-bottom d-flex align-items-center">
                                <form action="/user/addSchool" method="POST">
                                    <input type="hidden" name="idSchool" value="<%= school.id %>">
                                    <button type="submit" class="btn btn-warning">Adicionar escola</button>
                                </form>
                            </div>
                        <% } %> 
                    </div>
                <% }) %>
            <% } else { %>
                <div class="row bg-dark w-75">
                    <div class="col-md-12 border-bottom">
                        <p>Não há escolas disponíveis no momento.</p>
                    </div>
                </div>
            <% } %>
            </div>
        <% } %>
        <% if (type == "parent") { %>
            <div class="container card-body bg-secondary text-white mt-3 mb-3 text-center d-flex flex-column align-items-md-center">
            <h2>Mães, Pais e Responsáveis</h2>
            <% if (parents.length > 0) { %>
                <% parents.forEach(parent => { %>
                    <div class="row justify-content-md-center w-75 bg-dark">
                        <div class="col-md-3">
                            <a href="/user/<%= parent.User.id %>"><img src="/images/avatar-default.png" alt="" height="100px" width="100px" class="rounded"></a>
                        </div>
                        <div class="col-md-3 border-bottom">
                            <br>
                            <a href="/user/<%= parent.User.id %>"><p><%=parent.User.name%></p></a>
                        </div>
                        <div class="col-md-3 border-bottom">
                            <br>
                            <a href="/user/<%= parent.User.id %>"><p><%=parent.User.about%></p></a>
                        </div>
                    </div>
                <% }) %>
                <% } else { %>
                    <div class="row bg-dark w-75">
                        <div class="col-md-12 border-bottom">
                            <p>Não há responsáveis disponíveis.</p>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
        <% if (type == "driver") { %>
            <div class="container card-body bg-secondary text-white mt-3 mb-3 text-center d-flex flex-column align-items-md-center">
            <h2>Motoristas</h2>
            <% if (drivers.length > 0) { %>
                <% drivers.forEach(driver => { %>
                    <%var image = "/images/avatar-default.png";
                    if (driver.User.picture !=null){image = "/avatares/" + driver.User.picture} %>
                    <div class="row justify-content-md-center bg-dark my-2 w-75">
                        <div class="col-md-2 border-bottom">
                            <a href="/user/<%= driver.User.id %>"><img src=<%=image%> alt="" height="100px" width="100px" class="rounded"></a>
                        </div>
                        <div class="col-md-3 border-bottom">
                            <br>
                            <a href="/user/<%= driver.User.id %>"><p><%=driver.User.name%></p></a>
                        </div>
                        <div class="col-md-3 border-bottom text-left">
                            <br>
                            <a href="/user/<%= driver.User.id %>"><p><%= driver.sobre %></p></a>
                        </div>
                        <% if (user.roles_id == 2) { %> 
                            <div class="col-md-3 border-bottom d-flex align-items-center">
                                <form action="/user/addDriver" method="POST">
                                    <input type="hidden" name="idDriver" value="<%= driver.id %>">
                                    <button type="submit" class="btn btn-warning">Adicionar motorista</button>
                                </form>
                            </div>
                        <% } %> 
                    </div>
                <% }) %>
            <% } else { %>
                <div class="row bg-dark w-75">
                    <div class="col-md-12 border-bottom">
                        <p>Não há motoristas disponíveis no momento.</p>
                    </div>
                </div>
            <% } %>
            </div>
        <% } %>
    
    <%- include('includes/footer') %>
</body>

</html>